.sidebar {
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: sticky;
  top: 50px;
  height: 100%;
}

@media (max-width: 767px) {
  .sidebar {
      position: static;
      height: auto;
  }
}
